.DrawerComponent {
  display: none;
}

.ModalComponent {
  display: block;
}

@media screen and (max-width: 800px) {
  .ModalComponent {
    display: none;
  }

  .DrawerComponent {
    display: block;
  }
}
