.MenuComponent {
  height: 100%;
  transition: width 0.3s ease;
  overflow: clip;
  background: #24252a;
  width: 63px;

  &:hover {
    width: 200px;
  }

  .menu_component_inner_container {
    padding: 50px 0 0 0;

    .account_profile_menu {
      display: flex;
      font-weight: 800;
      font-size: small;

      & > div:nth-child(1) {
        min-width: 60px;
        display: flex;
        justify-content: center;
      }

      & > div:nth-child(2) {
        color: rgb(223, 223, 223);
      }

      & > div {
        display: flex;
        align-items: center;
      }
    }

    .menu_list_container {
      width: 100%;

      .menu_list {
        margin: 30px 0 0 0;

        & > div:not(:last-child) {
          margin: 20px 0;
        }

        .menu_items_container {
          .active {
            color: white !important;

            .menu_item_icons_container {
              .menu_item_icons {
                background: #efefef2d;
              }
            }
          }

          .menu_items {
            font-size: inherit;
            text-decoration: inherit;
            color: inherit;
            display: flex;
            color: gray;
            transition: all 0.2s ease;

            & > div:nth-child(1) {
              min-width: 60px;
            }

            & > div {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .menu_item_icons_container {
              .menu_item_icons {
                padding: 8px;
                border-radius: 50%;
              }
            }

            .menu_title {
              font-size: small;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
