body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main_table_box_container {
  border: 2px solid #c5c5c5;
  border-radius: 5px;
  background: white;
}

.main_table_box {
  width: 100%;
  overflow: auto;
  border: 0 !important;
  height: 400px !important;
}

.main_table_title_container {
  padding: 15px;

  & > div:not(:last-child) {
    margin: 0 0 0px 0;
  }

  & > div:nth-child(1) {
    font-size: large;
    font-weight: 600;
  }

  & > div:nth-child(2) {
    font-size: small;
  }
}

.dialog_title_container {
  font-size: medium !important;
}

.modal_title_container {
  padding: 10px;
  border-bottom: 1px solid #c5c5c5;

  & > div:nth-child(1) {
    font-weight: 600;
  }
}

.modal_body_container {
  padding: 10px;
}

.snack_bar_container {
  margin: 0 0 0 50px;
}
